<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="BRIMSConfig" type="BRIMS.EmailAlerts.BusinessLogic.Configuration.Config, BRIMS.BusinessLogic" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="DBServer" value="BRSERVER\MSSQLSERVERR2"/>
    <add key="DBName" value="amana_capital"/>
    <add key="DBUserID" value="realm"/>
    <add key="DBUserPWD" value="3YsS3f`33U8}3gm#3VHY3^S("/>
    <add key="DataItem" value="0"/>
    <add key="SenderemailID" value="ktimo00@gmail.com"/>
    <add key="SenderPassword" value="86173543tk"/>
    <add key="OutgoingMailServer" value="smtp.gmail.com"/>
    <add key="OutgoingMailServerPort" value="587"/>
    <add key="EnableSSL" value="1"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="dependencyResolverTypeName" value="BRIMS.EmailAlerts.BusinessLogic.Infrastructure.UnityDependencyResolver, BRIMS.BusinessLogic" />
  </appSettings>
  
  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <BRIMSConfig>
    <ScheduleTasks>
      <Thread seconds="86400">
        <task name="BankExposureMailAlerts" type="BRIMS.EmailAlerts.BusinessLogic.Alerts.BankExposures.BankExposureTask, BRIMS.BusinessLogic" enabled="true" stopOnError="false"/>
      </Thread>
      <Thread seconds="86400">
        <task name="RBALimitMailAlerts" type="BRIMS.EmailAlerts.BusinessLogic.Alerts.RBALimitAlerts.RBALimitTask, BRIMS.BusinessLogic" enabled="true" stopOnError="false"/>
      </Thread>
      <Thread seconds="86400">
        <task name="BrokerExposureMailAlerts" type="BRIMS.EmailAlerts.BusinessLogic.Alerts.BrokerExposureAlerts.BrokerExposureTask, BRIMS.BusinessLogic" enabled="true" stopOnError="false"/>
      </Thread>
      <Thread seconds="110">
        <task name="TrxMailAlerts" type="BRIMS.EmailAlerts.BusinessLogic.Alerts.TransactionEmailAlerts.TransactionEmailAlertTask, BRIMS.BusinessLogic" enabled="true" stopOnError="false"/>
      </Thread>
      <Thread seconds="110">
        <task name="UmbMailAlerts" type="BRIMS.EmailAlerts.BusinessLogic.Alerts.UmbrellaAlerts.UmbrellaEmailTask, BRIMS.BusinessLogic" enabled="true" stopOnError="false"/>
      </Thread>
     </ScheduleTasks>
  </BRIMSConfig>
</configuration>
