<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BRIMSEntities" connectionString="metadata=res://*/Data.BRIMSModel.csdl|res://*/Data.BRIMSModel.ssdl|res://*/Data.BRIMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BRIMS-LPT001;initial catalog=Amana_Latest;persist security info=True;user id=realm;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="connString" connectionString="Data Source=Localhost;Initial Catalog=Amana_Latest;User Id=realm;Password=friend;Integrated Security=false"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <sectionGroup name="businessObjects">
    <sectionGroup name="crystalReports">
      <section name="reportMappings" type="CrystalDecisions.Shared.ReportMappingHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null" />
    </sectionGroup>
  </sectionGroup>
</configuration>